Laboratorio: Revisión del caso práctico de aprendizaje automático
En este laboratorio, utilizará el archivo learningSet.csv que ya ha clonado en las actividades de hoy.
Instrucciones
Realice los siguientes pasos en las columnas categóricas del conjunto de datos:

Compruebe si hay valores nulos en todas las columnas

In [4]:
import pandas as pd

In [5]:
# Leemos y exploramos los datos
df = pd.read_csv(r'C:\Users\marco\OneDrive\Desktop\ironhack\Laboratorios\Lab-49\learningSet.csv')

C:\Users\marco\AppData\Local\Temp\ipykernel_21532\1164897935.py:2: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r'C:\Users\marco\OneDrive\Desktop\ironhack\Laboratorios\Lab-49\learningSet.csv')

In [3]:
df.head()

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,,,2801,0,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,,0,FL,33176,,,2001,0,X,...,0.0,1,L,2,F,X,X,X,26.0,A

In [4]:
numericals = df.select_dtypes(include=['int', 'float'])
categoricals = df.select_dtypes(exclude=['int', 'float'])

In [5]:
categoricals

,OSOURCE,STATE,ZIP,MAILCODE,PVASTATE,NOEXCH,RECINHSE,RECP3,RECPGVG,RECSWEEP,...,RFA_21,RFA_22,RFA_23,RFA_24,RFA_2R,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,GEOCODE2
0,GRI,IL,61081,,,0,,,,,...,S4E,S4E,S4E,S4E,L,E,X,X,X,C
1,BOA,CA,91326,,,0,,,,,...,N1E,N1E,,F1E,L,G,X,X,X,A
2,AMH,NC,27017,,,0,,,,,...,,S4D,S4D,S3D,L,E,X,X,X,C
3,BRY,CA,95953,,,0,,,,,...,A1D,A1D,,,L,E,X,X,X,C
4,,FL,33176,,,0,X,X,,,...,A3D,I4E,A3D,A3D,L,F,X,X,X,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,ASE,AK,99504,,,0,,,,,...,,,,,L,G,X,X,X,C
95408,DCD,TX,77379,,,0,,,,,...,,,,,L,F,X,X,X,A
95409,MBC,MI,48910,,,0,,X,,,...,P1D,P1D,,,L,E,X,X,X,B
95410,PRV,CA,91320,,,0,X,,,,...,A1F,A1F,S2F,S3F,L,F,X,X,X,A
95411,MCC,NC,28409,,,0,X,,X,,...,S3G,S3G,S3G,S3G,L,G,C,1,C,C

In [6]:
conteo_nulos_por_columna = categoricals.isnull().sum()

In [7]:
conteo_nulos_por_columna

OSOURCE       0
STATE         0
ZIP           0
MAILCODE      0
PVASTATE      0
           ...
RFA_2A        0
MDMAUD_R      0
MDMAUD_F      0
MDMAUD_A      0
GEOCODE2    132
Length: 74, dtype: int64

In [8]:
conteo_nulos_no_cero = conteo_nulos_por_columna[conteo_nulos_por_columna > 0]
conteo_nulos_no_cero

GEOCODE2    132
dtype: int64

In [9]:
drop_list=[]
drop_list+=["OSOURCE", "ZIP"]

In [10]:
drop_list

['OSOURCE', 'ZIP']

Identificar las columnas con más de un 85% de valores perdidos

Elimine esas columnas del marco de datos

In [11]:
# (df["PVASTATE"]==' ').sum()/df["PVASTATE"].count()

In [12]:
df.replace(" ", 0, inplace=True)# Calcular la proporción de valores no nulos en la columna "PVASTATE"
proporcion_no_nulos = df[df["PVASTATE"] != 0]["PVASTATE"].count() / len(df)
print("Proporción de valores no nulos en PVASTATE después de reemplazar espacios en blanco por 0:", proporcion_no_nulos)

Proporción de valores no nulos en PVASTATE después de reemplazar espacios en blanco por 0: 0.01528109671739404

In [13]:
for column in df.columns:
    # Calcular la proporción de valores diferentes de 0 en la columna actual
    proporcion_no_cero = df[df[column] != 0][column].count() / len(df)
    
    # Verificar si la proporción es mayor o igual al 15%
    if proporcion_no_cero <= 0.15:
        print(f"Eliminando columna '{column}' porque la proporción de valores diferentes de 0 es {proporcion_no_cero:.2f}")
        df.drop(column, axis=1, inplace=True)

# Mostrar las columnas restantes en el DataFrame
print(df.columns)

Eliminando columna 'MAILCODE' porque la proporción de valores diferentes de 0 es 0.01
Eliminando columna 'PVASTATE' porque la proporción de valores diferentes de 0 es 0.02
Eliminando columna 'RECINHSE' porque la proporción de valores diferentes de 0 es 0.07
Eliminando columna 'RECP3' porque la proporción de valores diferentes de 0 es 0.02
Eliminando columna 'RECPGVG' porque la proporción de valores diferentes de 0 es 0.00
Eliminando columna 'RECSWEEP' porque la proporción de valores diferentes de 0 es 0.02
Eliminando columna 'CHILD03' porque la proporción de valores diferentes de 0 es 0.01
Eliminando columna 'CHILD07' porque la proporción de valores diferentes de 0 es 0.02
Eliminando columna 'CHILD12' porque la proporción de valores diferentes de 0 es 0.02
Eliminando columna 'CHILD18' porque la proporción de valores diferentes de 0 es 0.03
Eliminando columna 'NUMCHLD' porque la proporción de valores diferentes de 0 es 0.13
Eliminando columna 'MBCRAFT' porque la proporción de valores diferentes de 0 es 0.05
Eliminando columna 'MBGARDEN' porque la proporción de valores diferentes de 0 es 0.02
Eliminando columna 'MBCOLECT' porque la proporción de valores diferentes de 0 es 0.02
Eliminando columna 'MAGFAML' porque la proporción de valores diferentes de 0 es 0.13
Eliminando columna 'MAGFEM' porque la proporción de valores diferentes de 0 es 0.05
Eliminando columna 'MAGMALE' porque la proporción de valores diferentes de 0 es 0.03
Eliminando columna 'PUBGARDN' porque la proporción de valores diferentes de 0 es 0.04
Eliminando columna 'PUBCULIN' porque la proporción de valores diferentes de 0 es 0.05
Eliminando columna 'PUBDOITY' porque la proporción de valores diferentes de 0 es 0.06
Eliminando columna 'PUBNEWFN' porque la proporción de valores diferentes de 0 es 0.09
Eliminando columna 'PUBPHOTO' porque la proporción de valores diferentes de 0 es 0.00
Eliminando columna 'PUBOPP' porque la proporción de valores diferentes de 0 es 0.06
Eliminando columna 'SOLP3' porque la proporción de valores diferentes de 0 es 0.00
Eliminando columna 'SOLIH' porque la proporción de valores diferentes de 0 es 0.06
Eliminando columna 'MAJOR' porque la proporción de valores diferentes de 0 es 0.00
Eliminando columna 'COLLECT1' porque la proporción de valores diferentes de 0 es 0.05
Eliminando columna 'VETERANS' porque la proporción de valores diferentes de 0 es 0.11
Eliminando columna 'BIBLE' porque la proporción de valores diferentes de 0 es 0.09
Eliminando columna 'CATLG' porque la proporción de valores diferentes de 0 es 0.08
Eliminando columna 'HOMEE' porque la proporción de valores diferentes de 0 es 0.01
Eliminando columna 'CDPLAY' porque la proporción de valores diferentes de 0 es 0.13
Eliminando columna 'STEREO' porque la proporción de valores diferentes de 0 es 0.13
Eliminando columna 'PCOWNERS' porque la proporción de valores diferentes de 0 es 0.11
Eliminando columna 'PHOTO' porque la proporción de valores diferentes de 0 es 0.05
Eliminando columna 'CRAFTS' porque la proporción de valores diferentes de 0 es 0.09
Eliminando columna 'FISHER' porque la proporción de valores diferentes de 0 es 0.07
Eliminando columna 'GARDENIN' porque la proporción de valores diferentes de 0 es 0.14
Eliminando columna 'BOATS' porque la proporción de valores diferentes de 0 es 0.02
Eliminando columna 'WALKER' porque la proporción de valores diferentes de 0 es 0.11
Eliminando columna 'KIDSTUFF' porque la proporción de valores diferentes de 0 es 0.02
Eliminando columna 'CARDS' porque la proporción de valores diferentes de 0 es 0.01
Eliminando columna 'PLATES' porque la proporción de valores diferentes de 0 es 0.01
Eliminando columna 'ETH10' porque la proporción de valores diferentes de 0 es 0.14
Eliminando columna 'ETH11' porque la proporción de valores diferentes de 0 es 0.11
Eliminando columna 'ETH12' porque la proporción de valores diferentes de 0 es 0.01
Eliminando columna 'ETH15' porque la proporción de valores diferentes de 0 es 0.08
Eliminando columna 'DW9' porque la proporción de valores diferentes de 0 es 0.12
Eliminando columna 'TPE5' porque la proporción de valores diferentes de 0 es 0.09
Eliminando columna 'TPE6' porque la proporción de valores diferentes de 0 es 0.05
Eliminando columna 'AFC3' porque la proporción de valores diferentes de 0 es 0.06
Eliminando columna 'ANC5' porque la proporción de valores diferentes de 0 es 0.13
Eliminando columna 'ANC6' porque la proporción de valores diferentes de 0 es 0.14
Eliminando columna 'ANC11' porque la proporción de valores diferentes de 0 es 0.09
Eliminando columna 'ANC15' porque la proporción de valores diferentes de 0 es 0.06
Eliminando columna 'HC15' porque la proporción de valores diferentes de 0 es 0.04
Eliminando columna 'RDATE_3' porque la proporción de valores diferentes de 0 es 0.00
Eliminando columna 'RDATE_4' porque la proporción de valores diferentes de 0 es 0.00
Eliminando columna 'RDATE_5' porque la proporción de valores diferentes de 0 es 0.00
Eliminando columna 'RDATE_6' porque la proporción de valores diferentes de 0 es 0.01
Eliminando columna 'RDATE_7' porque la proporción de valores diferentes de 0 es 0.09
Eliminando columna 'RDATE_10' porque la proporción de valores diferentes de 0 es 0.11
Eliminando columna 'RDATE_13' porque la proporción de valores diferentes de 0 es 0.13
Eliminando columna 'RDATE_15' porque la proporción de valores diferentes de 0 es 0.08
Eliminando columna 'RDATE_17' porque la proporción de valores diferentes de 0 es 0.10
Eliminando columna 'RDATE_20' porque la proporción de valores diferentes de 0 es 0.08
Eliminando columna 'RDATE_21' porque la proporción de valores diferentes de 0 es 0.10
Eliminando columna 'RDATE_23' porque la proporción de valores diferentes de 0 es 0.08
Eliminando columna 'RAMNT_3' porque la proporción de valores diferentes de 0 es 0.00
Eliminando columna 'RAMNT_4' porque la proporción de valores diferentes de 0 es 0.00
Eliminando columna 'RAMNT_5' porque la proporción de valores diferentes de 0 es 0.00
Eliminando columna 'RAMNT_6' porque la proporción de valores diferentes de 0 es 0.01
Eliminando columna 'RAMNT_7' porque la proporción de valores diferentes de 0 es 0.09
Eliminando columna 'RAMNT_10' porque la proporción de valores diferentes de 0 es 0.11
Eliminando columna 'RAMNT_13' porque la proporción de valores diferentes de 0 es 0.13
Eliminando columna 'RAMNT_15' porque la proporción de valores diferentes de 0 es 0.08
Eliminando columna 'RAMNT_17' porque la proporción de valores diferentes de 0 es 0.10
Eliminando columna 'RAMNT_20' porque la proporción de valores diferentes de 0 es 0.08
Eliminando columna 'RAMNT_21' porque la proporción de valores diferentes de 0 es 0.10
Eliminando columna 'RAMNT_23' porque la proporción de valores diferentes de 0 es 0.08
Eliminando columna 'TARGET_B' porque la proporción de valores diferentes de 0 es 0.05
Eliminando columna 'TARGET_D' porque la proporción de valores diferentes de 0 es 0.05
Index(['ODATEDW', 'OSOURCE', 'TCODE', 'STATE', 'ZIP', 'DOB', 'NOEXCH',
       'MDMAUD', 'DOMAIN', 'CLUSTER',
       ...
       'CONTROLN', 'HPHONE_D', 'RFA_2R', 'RFA_2F', 'RFA_2A', 'MDMAUD_R',
       'MDMAUD_F', 'MDMAUD_A', 'CLUSTER2', 'GEOCODE2'],
      dtype='object', length=399)

In [14]:
print(df.head())

   ODATEDW OSOURCE  TCODE STATE    ZIP   DOB NOEXCH MDMAUD DOMAIN CLUSTER  \
0     8901     GRI      0    IL  61081  3712      0   XXXX     T2      36
1     9401     BOA      1    CA  91326  5202      0   XXXX     S1      14
2     9001     AMH      1    NC  27017     0      0   XXXX     R2      43
3     8701     BRY      0    CA  95953  2801      0   XXXX     R2      44
4     8601       0      0    FL  33176  2001      0   XXXX     S2      16

   ...  CONTROLN HPHONE_D RFA_2R  RFA_2F RFA_2A  MDMAUD_R  MDMAUD_F  MDMAUD_A  \
0  ...     95515        0      L       4      E         X         X         X
1  ...    148535        0      L       2      G         X         X         X
2  ...     15078        1      L       4      E         X         X         X
3  ...    172556        1      L       4      E         X         X         X
4  ...      7112        1      L       2      F         X         X         X

   CLUSTER2 GEOCODE2
0      39.0        C
1       1.0        A
2      60.0        C
3      41.0        C
4      26.0        A

[5 rows x 399 columns]

Reduce the number of categories in the column GENDER. The column should only have either "M" for males, "F" for females, and "other" for all the rest

In [16]:
# Cambiar valores distintos de 'M' y 'F' por 'other' en la columna 'GENDER'
df.loc[~df['GENDER'].isin(['M', 'F']), 'GENDER'] = 'other'

In [17]:
df["GENDER"].unique()

array(['F', 'M', 'other'], dtype=object)